<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="uSPrDS_2modules">
  <xacro:arg name="use_ros2_control" default="false" />
  <xacro:property name="use_ros2_control" value="$(arg use_ros2_control)" />

  <xacro:include filename="$(find xela_models)/urdf/materials.xacro" />
  <xacro:include filename="$(find xela_models)/urdf/taxel_n.xacro" />

  <xacro:include filename="$(find xela_models)/urdf/uSPrDS.xacro" />

	<link name="world" />
  
	<joint name="fixed" type="fixed">
		<parent link="world" />
		<child link="x_taxel_viz" />
	</joint>

	<link name="x_taxel_viz">
		<visual>
			<origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
		</visual>
	</link>

  <xacro:uSPrDS  	sequence="'01'" col="green" parent="x_taxel_viz" taxels="1" x="0" y="0" rz="180" />
  <xacro:uSPrDS  	sequence="'02'" col="red" parent="x_taxel_viz" taxels="1" x="0.1" y="0" />

  <xacro:if value="${use_ros2_control}">
    <ros2_control name="xela_taxel_fake_system" type="system">
      <hardware>
        <plugin>fake_components/GenericSystem</plugin>
      </hardware>
      <joint name="x_taxel_01_uSPrDS_f_01_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_02_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_03_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_04_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_05_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_06_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_07_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_08_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_09_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_10_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_11_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_12_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_13_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_14_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_15_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_16_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_17_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_18_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_19_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_f_20_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_r_01_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_r_02_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_r_03_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_r_04_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_r_05_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_r_06_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_r_07_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_r_08_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_r_09_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_01_uSPrDS_r_10_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_01_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_02_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_03_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_04_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_05_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_06_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_07_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_08_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_09_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_10_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_11_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_12_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_13_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_14_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_15_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_16_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_17_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_18_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_19_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_f_20_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_r_01_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_r_02_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_r_03_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_r_04_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_r_05_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_r_06_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_r_07_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_r_08_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_r_09_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="x_taxel_02_uSPrDS_r_10_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
    </ros2_control>
  </xacro:if>
</robot>
